@font-face {
  font-family: "Lato-SemiBold";
  src: local("Lato-SemiBold"), url(./fonts/Lato-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url(./fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Black";
  src: local("Lato-Black"), url(./fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url(./fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: local("Lato-Light"), url(./fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Recoleta-SemiBold";
  src: local("Recoleta-SemiBold"),
    url(./fonts/RecoletaAlt-SemiBold.ttf) format("truetype");
}

.MuiDialog-paper {
  border-radius: 20px !important;
}

input#name {
  height: 1.1em;
  padding: 14px 12px;
  font-family: "Lato-Light";
  background-color: #fff;
}

input#email {
  height: 1.1em;
  padding: 14px 12px;
  font-family: "Lato-Light";
  background-color: #fff;
}

.MuiInputBase-formControl {
  border-radius: 10px !important;
}

.input-label {
  display: inline-block;
  color: #57bc90;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Lato-SemiBold";
  border-radius: 5px;
}
