body {
  margin: 0;
  font-family: 'Lato-SemiBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3 !important;
}

code {
  font-family: 'Lato-SemiBold'
}
